/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/storage
/var/storage/*
!var/storage/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/themes/*
/web/files/*
!/web/files/.gitkeep
/web/bundles/
/web/assetic/
/web/assets/
*.zip
*.tar.gz
